<div class="c-chart-container">

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 30%; height: 300px; display: block;"
></highcharts-chart>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 30%; height: 300px; display: block;"
></highcharts-chart>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>


</div>

<div class="c-button-container">
<button (click)="openModal(modalTemplate)">Open Modal</button>
<button (click)="openModal(modalTemplate)">Open Modal</button>
<button (click)="openModal(modalTemplate)">Open Modal</button>
  <div>

<div class="c-chart-container">

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>

</div>

<div class="c-button-container">
<button (click)="openModal(modalTemplate)">Open Modal</button>
<button (click)="openModal(modalTemplate)">Open Modal</button>
<button (click)="openModal(modalTemplate)">Open Modal</button>
<div>

<ng-template #modalTemplate>
  <app-grid [dataFromParent]="modalRef"></app-grid>
</ng-template>
