<div class="c-chart-container">

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 30%; height: 300px; display: block;"
></highcharts-chart>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 30%; height: 300px; display: block;"
></highcharts-chart>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>


</div>

<div class="c-chart-container">

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 30%; height: 300px; display: block;"
  ></highcharts-chart>


</div>
