.container{
  height: 600px;
  background-color: #2a2a2b;
}

h2{
  margin: 15px;
  color: #ffffff;
}

.c-grid{
  padding: 25px 47px;
  color: #ffffff;
}

.col-sm{
  margin-bottom: 15px;
  border-bottom: 1px solid;
}
