.container{
  background-color: #2a2a2b;
}

h2{
  margin: 15px;
  color: #ffffff;
}

.c-grid{
  padding: 25px 47px;
  color: #ffffff;
}

.col-sm{
  margin-bottom: 15px;
  border-bottom: 1px solid;
}

.row>* {
  width: auto;
}

.btn-success{
  width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.modal-footer{
  justify-content: center;
}
