<div class="modal-container d-flex justify-content-center align-items-center">

  <div class="container">
    <h2>Indicador de : {{_dataTable.nombre}}</h2>

<div class="c-grid">
    <div class="row">
      <div class="col-sm">
        Fecha
      </div>
      <div class="col-sm">
        Valor
      </div>
    </div>

    <div class="row" *ngFor="let value of _dataTable.serie; let i = index">
      <div *ngIf="i<10" class="col-sm">
        {{value.fecha | date: 'dd/MM/yyyy'}}
      </div>
      <div *ngIf="i<10" class="col-sm">
        <div *ngIf="_dataTable.unidad_medida ==='Porcentaje'">{{value.valor}}%</div>
        <div *ngIf="_dataTable.unidad_medida !=='Porcentaje'">{{value.valor | currency}}</div>
      </div>
    </div>

  </div>
  </div>

</div>

